.balance {
  width: 55%;
  // padding-left: 5vw;
  display: flex;
  // padding: 3vw;
  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-start;
  font-weight: 700;
  // border-style: solid;
  // border-width: 0.4vw;
  // border-radius: 10vw;
  // border-color: $base-color;
  h1 {
    margin: 0;
    font-size: 7vw;
    font-weight: 700;
  }
  h4 {
    margin: 0;
    font-size: 3vw;
    font-weight: 700;
  }
}

@media (min-width: 500px) {
  .balance {
    width: 30%;
    h1 {
      font-size: 3vw;
    }
    h4 {
      font-size: 2vw;
    }
  }
}
