.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(50%, auto);
  justify-content: center;
  align-items: center;

  .management_actions {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 5vw;
    margin-right: 10%;

    .action {
      width: 4vw;
      height: 4vw;
      margin-left: 3vw;
    }
  }
  .chart {
    grid-column: 1;
    grid-row: 5;
    width: 55%;
    margin: auto;
  }
}

@media (min-width: 500px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "a b" "c b" "c b" "d b" "e b";

    .management_actions {
      grid-area: d;
      margin-top: 2vw;
      margin-right: 25%;
      .action {
        width: 2.5vw;
        height: 2.5vw;
        margin-left: 2vw;
      }
    }
    .chart {
      grid-area: e;
      width: 60%;
      margin: auto;
    }
  }
}
