.form {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  margin: 0;
  // background-color: #e5e5e5;
  .validation_message {
    color: red;
    font-size: 2.5vw;
    font-weight: normal;
    text-align: center;
  }

  form {
    width: 80%;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    .form-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2vw;
      font-weight: normal;
      font-size: 3vw;
      .form-control {
        border-radius: $boxRadius;
        border-color: $base-color;
        border-width: 0.001vw;
        width: 50%;
        font-weight: normal;
        color: $base-color;
        padding-left: 1.5vw;

        .dropdown-control {
          width: 50%;
        }
      }

      .checkbox_list {
        padding: 1vw;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 0;

        .checkbox_item {
          font-size: 2.5vw;
          font-weight: normal;
          padding: 0 1vw;
        }
      }
    }
    .bottom {
      height: 6vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .submitButton {
        font-size: 3vw;
        font-family: $font;
        font-weight: normal;
        width: 25vw;

        border-radius: $boxRadius;
        border-color: $accent-color;

        border-style: solid;
        border-width: 0.4vw;
        background-color: $accent-color;
      }
      .cancel {
        font-size: 3vw;
        font-weight: normal;
        width: 11vw;
      }
    }
  }
}

@media (min-width: 500px) {
  .form {
    // width: 60%;
    // left: 20%;
    // margin: auto;
    .validation_message {
      margin-left: 10%;
      font-size: 1.5vw;
    }
    form {
      margin-top: 2vw;
      .form-group {
        font-size: 2vw;
        .form-control {
          padding-left: 1vw;
          font-size: 1.5vw;
        }
        .checkbox_list {
          .checkbox_item {
            font-size: 1.5vw;
          }
        }
      }

      .bottom {
        height: 2.5vw;
        .submitButton {
          font-size: 1.5vw;
        }
        .cancel {
          font-size: 1.5vw;
        }
      }
    }
  }
}
