.jar {
  height: 20vw;
  width: 15vw;
  .top_of_jar {
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    .name_jar {
      font-size: 2.5vw;
      font-weight: 700;
      margin: 0.2vw;
    }
    .percentace_jar {
      margin: 0;
      padding: 0;
      font-size: 2vw;
      font-weight: 100;
    }
  }

  .bottom_of_jar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .jar_img {
      height: 12vw;
      width: 10vw;
      margin: 1vw;
    }
    .balance_jar {
      width: 6vw;
      height: 3vw;
      font-size: 2.5vw;
      font-weight: 700;
      margin: 0.2vw;
    }
    .jar_actions_container {
      height: 3vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0.2vw;
      .jar_actions {
        margin: 0 0.8vw;
        width: 2.6vw;
      }
    }
  }
}

@media (min-width: 500px) {
  .jar {
    height: 14vw;
    width: 9vw;
    .top_of_jar {
      height: 4vw;
      .name_jar {
        font-size: 1.5vw;
      }
      .percentace_jar {
        font-size: 1.5vw;
      }
    }

    .bottom_of_jar {
      .jar_img {
        height: 6vw;
        width: 6vw;
        margin: 0.5vw;
      }
      .balance_jar {
        height: 2vw;
        font-size: 1.5vw;
        text-align: center;
      }
      .jar_actions_container {
        margin: 0.2vw;
        height: 1.5vw;
        .jar_actions {
          width: 1.5vw;
        }
      }
    }
  }
}
