.jarGrid {
  grid-column: 1;
  grid-row: 3;
  width: $insideContainerSize;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8vw;
  grid-column-gap: 2vw;
  justify-items: center;
  align-items: center;
  margin-bottom: $standardMargin * 4;
  margin-top: $standardMargin * 1.5;
}

@media (min-width: 500px) {
  .jarGrid {
    width: 65%;
    grid-area: c;
    margin-top: 0;
    margin-bottom: 0;
    grid-row-gap: 2vw;
    grid-column-gap: 1vw;
  }
}
