.movement {
  display: flex;
  padding: 0.5vw;
  height: 9vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border-radius: $boxRadius;
  background-color: $accent-color;
  margin-bottom: 2vw;
}
