.movement {
  display: flex;
  padding: 0.5vw;
  height: 9vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border-radius: $boxRadius;
  background-color: $accent-color;
  margin-bottom: 2vw;

  .movement_column {
    width: 19%;
    font-size: 4vw;
    padding: 2vw;
    font-weight: 100;
  }
  .movement_actions_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;

    .movement_actions {
      width: 3vw;
      height: 3vw;
    }
  }
  .movement_column_big {
    width: 38%;
    font-size: 2.6vw;
    margin: 0;
    padding: 1vw;
    display: flexbox;
    font-weight: 100;
  }
}

@media (min-width: 500px) {
  .movement {
    height: 3vw;
    margin-bottom: 1.5vw;

    .movement_column {
      width: 15%;
      font-size: 1.5vw;
      padding: 1vw;
    }
    .movement_column_big {
      width: 60%;
      font-size: 1vw;
      padding: 1vw;
    }
    .movement_actions_container {
      .movement_actions {
        width: 1.5vw;
        height: 1.5vw;
      }
    }
  }
}
