.movement_history {
  width: $insideContainerSize;
  margin: auto;
  display: flex;
  flex-direction: column;
  ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }
}

@media (min-width: 500px) {
  .movement_history {
    width: 85%;
    margin-top: 7vw;
    align-self: start;
    grid-area: b;
  }
}
