.panel {
  grid-column: 1;
  grid-row: 1;

  width: 80%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: $standardMargin * 1.5;
  margin-top: $standardMargin * 1.5;
  .wallet_section {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // padding-right: 5vw;
  }
}

@media (min-width: 500px) {
  .panel {
    width: 70%;
    margin: auto;
    margin-top: 7vw;
    grid-area: a;
    margin-bottom: 5vw;
    .wallet_section {
      width: 35%;
      padding-right: 0;
    }
  }
}
