$font: "Montserrat", sans-serif;
$base-color: #073b4c;
// $accent-color-1: #06d6a0;
// $accent-color-2: #ef476f;
$accent-color: #89b7c7;
$background-color: #ffff;

$boxRadius: 20vw;
$standardMargin: 4vw;
$insideContainerSize: 85%;
