.wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.direction {
  width: 6vw;
  height: 6vw;
}
.picture {
  width: 11vw;
  height: 11vw;
}

@media (min-width: 500px) {
  .picture {
    width: 5vw;
    height: 5vw;
  }
  .direction {
    width: 2.5vw;
    height: 2.5vw;
  }
}
