.horizontalSection {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 6vw;
}

.balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.balance h1 {
  margin: 0;
  font-size: 8vw;
}

.balance h4 {
  margin: 0;
  font-size: 3vw;
}

.movement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5vw;
  height: 9vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20vw;
  background-color: #ffd166;
  margin-bottom: 2vw;
}

.movement .info_movement {
  width: 15vw;
  text-align: left;
  font-size: 4vw;
}

.movement_history {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movement_history ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.jarGrid {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8vw;
  grid-column-gap: 2vw;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8vw;
}

.jarGrid h4 {
  margin: 0;
  font-size: 3.5vw;
  text-align: center;
}

.jar {
  height: 18vw;
  width: 15vw;
}

.jar .jar_img {
  height: 14vw;
  margin: 1vw;
}

.link {
  width: 5vw;
  height: 5vw;
}

.wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direction {
  width: 6vw;
  height: 6vw;
}

.picture {
  width: 11vw;
  height: 11vw;
}

.form {
  border-radius: 5vw;
  border-color: #ffd166;
  margin-bottom: 2vw;
  padding: 2vw;
  border-style: solid;
  border-width: 0.4vw;
}

.form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1vw;
}

.form .form-group .form-control {
  border-radius: 20vw;
  border-color: #073b4c;
  border-width: 0.2vw;
  width: 50%;
}

.form .form-group .submitButton {
  border-radius: 20vw;
  border-color: #ffd166;
  margin-bottom: 2vw;
  border-style: solid;
  border-width: 0.4vw;
  background-color: #ffd166;
}

.App {
  background-color: #ffff;
  color: #073b4c;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "roboto";
}

.App .div_img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/*# sourceMappingURL=styles.css.map */