@import "./variables";
@import "./dashboard";
@import "./panel";
@import "./wallet";
@import "./balance";
@import "./movement_history_section";
@import "./movements";
@import "./jar_grid";
@import "./jar";
@import "./form";
@import "./nav_bar";

@mixin theme {
  background-color: $background-color;
  color: $base-color;
  font-size: calc(10px + 2vmin);
  font-family: $font;
  font-weight: 900;
}
body {
  margin: 0;
  padding: 0;
  @include theme();
  width: 100%;

  .root {
    width: 100%;
  }
  .div_img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media (min-width: 500px) {
  .body {
    font-size: 2vw;
  }
}
