@import "./variables";
@import "./horizontal_section";
@import "./balance";
@import "./movements";
@import "./movement_history_section";
@import "./jar_grid";
@import "./jar";

@import "./wallet";
@import "./form";

@mixin light-theme {
  background-color: $background-color;
  color: $base-color;
}
body {
  margin: 0;
  padding: 0;
  @include light-theme();
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: $font;
  font-weight: 900;
  .root {
    width: 100%;
  }
  .div_img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .navigation_bar {
    background-color: #073b4c;
    height: 12vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .nav_icon {
      width: 6vw;
      height: 6vw;
    }
  }
}
