.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(50%, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .management_actions {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 5vw;
  margin-right: 10%;
}

.dashboard .management_actions .action {
  width: 4vw;
  height: 4vw;
  margin-left: 3vw;
}

.dashboard .chart {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 5;
  grid-row: 5;
  width: 55%;
  margin: auto;
}

@media (min-width: 500px) {
  .dashboard {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 1fr auto auto;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas: "a b" "c b" "c b" "d b" "e b";
  }
  .dashboard .management_actions {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: d;
    margin-top: 2vw;
    margin-right: 25%;
  }
  .dashboard .management_actions .action {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 2vw;
  }
  .dashboard .chart {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: e;
    width: 60%;
    margin: auto;
  }
}

.panel {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 6vw;
  margin-top: 6vw;
}

.panel .wallet_section {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .panel {
    width: 70%;
    margin: auto;
    margin-top: 7vw;
    grid-area: a;
    margin-bottom: 5vw;
  }
  .panel .wallet_section {
    width: 35%;
    padding-right: 0;
  }
}

.wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direction {
  width: 6vw;
  height: 6vw;
}

.picture {
  width: 11vw;
  height: 11vw;
}

@media (min-width: 500px) {
  .picture {
    width: 5vw;
    height: 5vw;
  }
  .direction {
    width: 2.5vw;
    height: 2.5vw;
  }
}

.balance {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
}

.balance h1 {
  margin: 0;
  font-size: 7vw;
  font-weight: 700;
}

.balance h4 {
  margin: 0;
  font-size: 3vw;
  font-weight: 700;
}

@media (min-width: 500px) {
  .balance {
    width: 30%;
  }
  .balance h1 {
    font-size: 3vw;
  }
  .balance h4 {
    font-size: 2vw;
  }
}

.movement_history {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movement_history ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

@media (min-width: 500px) {
  .movement_history {
    width: 85%;
    margin-top: 7vw;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-area: b;
  }
}

.movement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5vw;
  height: 9vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20vw;
  background-color: #89b7c7;
  margin-bottom: 2vw;
}

.movement .movement_column {
  width: 19%;
  font-size: 4vw;
  padding: 2vw;
  font-weight: 100;
}

.movement .movement_actions_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
}

.movement .movement_actions_container .movement_actions {
  width: 3vw;
  height: 3vw;
}

.movement .movement_column_big {
  width: 38%;
  font-size: 2.6vw;
  margin: 0;
  padding: 1vw;
  display: flexbox;
  font-weight: 100;
}

@media (min-width: 500px) {
  .movement {
    height: 3vw;
    margin-bottom: 1.5vw;
  }
  .movement .movement_column {
    width: 15%;
    font-size: 1.5vw;
    padding: 1vw;
  }
  .movement .movement_column_big {
    width: 60%;
    font-size: 1vw;
    padding: 1vw;
  }
  .movement .movement_actions_container .movement_actions {
    width: 1.5vw;
    height: 1.5vw;
  }
}

.jarGrid {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  width: 85%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8vw;
  grid-column-gap: 2vw;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16vw;
  margin-top: 6vw;
}

@media (min-width: 500px) {
  .jarGrid {
    width: 65%;
    grid-area: c;
    margin-top: 0;
    margin-bottom: 0;
    grid-row-gap: 2vw;
    grid-column-gap: 1vw;
  }
}

.jar {
  height: 20vw;
  width: 15vw;
}

.jar .top_of_jar {
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.jar .top_of_jar .name_jar {
  font-size: 2.5vw;
  font-weight: 700;
  margin: 0.2vw;
}

.jar .top_of_jar .percentace_jar {
  margin: 0;
  padding: 0;
  font-size: 2vw;
  font-weight: 100;
}

.jar .bottom_of_jar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jar .bottom_of_jar .jar_img {
  height: 12vw;
  width: 10vw;
  margin: 1vw;
}

.jar .bottom_of_jar .balance_jar {
  width: 6vw;
  height: 3vw;
  font-size: 2.5vw;
  font-weight: 700;
  margin: 0.2vw;
}

.jar .bottom_of_jar .jar_actions_container {
  height: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.2vw;
}

.jar .bottom_of_jar .jar_actions_container .jar_actions {
  margin: 0 0.8vw;
  width: 2.6vw;
}

@media (min-width: 500px) {
  .jar {
    height: 14vw;
    width: 9vw;
  }
  .jar .top_of_jar {
    height: 4vw;
  }
  .jar .top_of_jar .name_jar {
    font-size: 1.5vw;
  }
  .jar .top_of_jar .percentace_jar {
    font-size: 1.5vw;
  }
  .jar .bottom_of_jar .jar_img {
    height: 6vw;
    width: 6vw;
    margin: 0.5vw;
  }
  .jar .bottom_of_jar .balance_jar {
    height: 2vw;
    font-size: 1.5vw;
    text-align: center;
  }
  .jar .bottom_of_jar .jar_actions_container {
    margin: 0.2vw;
    height: 1.5vw;
  }
  .jar .bottom_of_jar .jar_actions_container .jar_actions {
    width: 1.5vw;
  }
}

.form {
  margin: 0;
}

.form .validation_message {
  color: red;
  font-size: 2.5vw;
  font-weight: normal;
  text-align: center;
}

.form form {
  width: 80%;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2vw;
  font-weight: normal;
  font-size: 4vw;
}

.form form .form-group .form-control {
  border-radius: 20vw;
  border-color: #073b4c;
  border-width: 0.001vw;
  width: 50%;
  font-weight: normal;
  color: #073b4c;
  padding-left: 1.5vw;
}

.form form .form-group .form-control .dropdown-control {
  width: 50%;
}

.form form .form-group .checkbox_list {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 0;
}

.form form .form-group .checkbox_list .checkbox_item {
  font-size: 3vw;
  font-weight: normal;
  padding-left: 1vw;
}

.form form .form-group .checkbox_list .checkbox_item input {
  height: 2vw;
  width: 2vw;
  margin-right: 0.4vw;
}

.form form .bottom {
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.form form .bottom .submitButton {
  font-size: 3.6vw;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  width: 50%;
  border-radius: 20vw;
  border-color: #073b4c;
  border-style: solid;
  border-width: 0.2vw;
  background-color: #073b4c;
  color: white;
  text-align: center;
}

.form form .bottom .cancel {
  font-size: 3vw;
  font-weight: bold;
  width: 4.1vw;
  height: 4.1vw;
  border-radius: 50%;
  background-color: white;
  color: #073b4c;
}

@media (min-width: 500px) {
  .form .validation_message {
    margin-left: 10%;
    font-size: 1.5vw;
  }
  .form form {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .form form .form-group {
    font-size: 1.5vw;
  }
  .form form .form-group .form-control {
    padding-left: 0.5vw;
    font-size: 1.2vw;
  }
  .form form .form-group .checkbox_list {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .form form .form-group .checkbox_list .checkbox_item {
    font-size: 1.2vw;
  }
  .form form .form-group .checkbox_list .checkbox_item input {
    width: 1vw;
    height: 1vw;
  }
  .form form .bottom {
    margin-top: 0.5vw;
    margin-bottom: 0;
    height: 2.8vw;
  }
  .form form .bottom .submitButton {
    font-size: 1.5vw;
    height: 2.5vw;
  }
  .form form .bottom .cancel {
    font-size: 1.5vw;
    width: 2vw;
    height: 2vw;
  }
}

.navigation_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #073b4c;
  height: 12vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_bar .nav_icon {
  width: 6vw;
  height: 6vw;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
  color: #073b4c;
  font-size: calc(10px + 2vmin);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  width: 100%;
}

body .root {
  width: 100%;
}

body .div_img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 30%;
  left: 10%;
  z-index: 15;
  width: 80%;
  height: auto;
  border-radius: 2vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.alert-pop-up {
  position: fixed;
  top: 28%;
  left: 8%;
  z-index: 20;
  width: 80%;
  height: 58vw;
  padding: 3vw;
  border-radius: 2vw;
  background-color: #ffffff;
  color: #5e0c0c;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 4.5vw;
}

.alert-pop-up .alert {
  height: 60%;
  text-align: center;
  padding: 3vw;
}

.alert-pop-up .close-alert {
  font-size: 3.5vw;
  border-width: 0.2vw;
  width: 4.1vw;
  height: 4.1vw;
  border-radius: 50%;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-color: #5e0c0c;
  background-color: white;
  color: #5e0c0c;
}

.alert-pop-up-big {
  height: 30vw;
}

@media (min-width: 500px) {
  .body {
    font-size: 2vw;
  }
  .modal-area {
    left: 30%;
    width: 40%;
  }
  .alert-pop-up {
    left: 25%;
    width: 40%;
    top: 28%;
    font-size: 1.5vw;
    height: 10vw;
  }
  .alert-pop-up .close-alert {
    font-size: 1.5vw;
    width: 2vw;
    height: 2vw;
  }
  .alert-pop-up-big {
    top: 30%;
    left: 30%;
    width: 34%;
    height: 25vw;
  }
}
/*# sourceMappingURL=styles.css.map */